PORT=3001
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=plomeros_saor
DB_USER=postgres
DB_PASSWORD=tu_password

JWT_SECRET=minimo_32_caracteres_cambia_esto_ahora
JWT_EXPIRES_IN=8h

FRONTEND_URL=http://localhost:3000
